# Data & Database Storage
data/raw/*
!data/raw/.gitkeep
*.duckdb
*.db
*.csv

# Power BI Local / User-Specific Files
*.pbix
pbip/*.pbip.user
pbip/*/.pbip.user
pbip/*.Dataset/Model.bim
pbip/*.Report/definition.pbir.user

# Python Environment & OS
__pycache__/
*.pyc
.venv/
.DS_Store
Thumbs.db